.horizontalDisplay {
    display: flex;
    flex-direction: row;
}
.horizontalDisplayComponents {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.cardItems {
    display: flex;
    flex-flow: column;
    height: 400px;
    justify-content: center;
    flex: 1;
}
.cardItem {
    padding-top: 10px;
}
.mainPage {
    padding: 20px;
    display: flex;
    justify-content: center;
}
.containerMarketplace {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    grid-gap: 1em;
    height: 100%;
  }