.form-label {
    font-size: 12px;
}
.loginItem {
    padding-top: 10px
}
.loginItems {
    padding: 15px 30px 30px 30px;
    font-size: 10px;
}
#title {
    padding-left: 20px;
    padding-top: 20px;
}
#createAccount {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#createAccountText {
    font-size: 10px;
}
.mainPage {
    display: flex;
    justify-content: center;
}