

othercontainer {
    height: default;
    padding: 20px;
}

.overview {
    height: 100%;
    padding: 20px;
}

.containerMarketplace {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    grid-gap: 1em;
    height: 100%;
  }

.card {
    border: #333 solid thick;
    border-radius: 1em;
    text-align: center;
    height: 400px;
  }

.vehicleInfo {
    display: flex;
    flex-direction: column;
}


.cardItems {
    display: flex;
    flex-flow: column;
    height: 400px;
    justify-content: center;
    flex: 1;
}

