.mainHeader {
  display: flex;
  justify-content: space-between;
  background-color: #c49f00;

}
.brandName{
  padding: 20px;
}
.navbar {
  display: flex;
  list-style-type: none;
  padding: 20px;
}
.nav-item {
  padding: 5px;
}
.nav-item:hover {
  transform: scale(1.15);
}
